html,
body {
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}
canvas {
  display: block;
}

img,
input {
  transform: translate(-50%, -50%);
}

#game {
  font-size: 10px;
  width: 180px;
  max-width: 180px;
  padding: 2px;
  border-bottom-width: 2px;
  overflow: auto;
}
